body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}
label {
    font-weight: bold;
}
.calculator {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.calculator input, .calculator select, .calculator button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}
.calculator button {
    background-color: #855f30;
    color: white;
    cursor: pointer;
}
.calculator button:hover {
    background-color: #6b4d23;
}
.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}